<!-- <template>
    <div style="display: flex; justify-content: center; align-items: center; height: 710px;">
    <el-form :model="ruleForm" status-icon :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="用户名" prop="name">
            <el-input v-model.number="ruleForm.name"></el-input>
        </el-form-item>

        <el-form-item label="密码" prop="pass">
            <el-input type="password" v-model="ruleForm.pass" autocomplete="off"></el-input>
        </el-form-item>

        <el-form-item label="确认密码" prop="checkPass">
            <el-input type="password" v-model="ruleForm.checkPass" autocomplete="off"></el-input>
        </el-form-item>
        
        <el-form-item>
            <el-button type="primary" @click="submitForm('ruleForm')">提交</el-button>
            <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
    </el-form>
    </div>
</template>

<script>
import axios from 'axios'
import router from '../../router'
  export default {
    data() {
        var checkAge = (rule, value, callback) => {
            if (!value) {
                return callback(new Error('用户名不能为空'));
            }
            setTimeout(() => {
                if (value.length < 3) {
                    callback(new Error('用户名长度必须大于等于3个字符'));
                } else if (!/^[a-zA-Z0-9_]+$/.test(value)) {
                    callback(new Error('用户名只能包含字母、数字和下划线'));
                } else {
                    callback();
                }
            }, 1000);
        };
      var validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入密码'));
        } else {
          if (this.ruleForm.checkPass !== '') {
            this.$refs.ruleForm.validateField('checkPass');
          }
          callback();
        }
      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请再次输入密码'));
        } else if (value !== this.ruleForm.pass) {
          callback(new Error('两次输入密码不一致!'));
        } else {
          callback();
        }
      };
      return {
        ruleForm: {
          pass: '',
          checkPass: '',
          name: ''
        },
        rules: {
          pass: [
            { validator: validatePass, trigger: 'blur' }
          ],
          checkPass: [
            { validator: validatePass2, trigger: 'blur' }
          ],
          name: [
            { validator: checkAge, trigger: 'blur' }
          ]
        }
      };
    },
    methods: {
      submitForm(formName) {
        this.$refs[formName].validate((valid) => {
            alert(this.ruleForm.name);
          if (valid) {
            alert('submit!');
            axios.post("https://yapi.pro/mock/356423/login", {
                username: this.ruleForm.name,
                password: this.ruleForm.pass
            }).then((result)=>{
                alert(result.data.code);
                if(result.data.code == 2){
                router.push('/dep'); // 跳转到登录界面
            }
            });
            // console.log(response.data.code); // Handle the response data as needed
            // alert(response.data.code);
            
            //alert(response.data.code);
            /* if(response.data.code == 2){
                router.push('/dep'); // 跳转到登录界面
            }else {
                alert("登录错误");
            } */
          } else {
            console.log('error submit!!');
            return false;
          }
        });
      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    }
  }
</script> -->

<template>
  <div class="center">
		<h1>毕设管理系统</h1>
		<div class="logon">
			<div :class="overlaylong">
				<div class="overlaylong-Signin" v-if="disfiex == 0">
				<h2 class="overlaylongH2">登录</h2>
				<input type="text" placeholder="账号" v-model="loginForm.anumber">
				<input type="text" placeholder="密码" v-model="loginForm.password">
				<h3>忘记密码?</h3>
				<button class="inupbutton" @click="singin">登录</button>
			</div>

			<div class="overlaylong-Signup" v-if="disfiex == 1">
				<h2 class="overlaylongH2">注册账户</h2>
				<input type="text" placeholder="用户名" v-model="registerForm.username">
				<input type="text" placeholder="账号" v-model="registerForm.anumber">
				<input type="text" placeholder="密码" v-model="registerForm.password"> 
				<select v-model="registerForm.role" class="custom-select">
					<option value="teacher">老师</option>
					<option value="student">学生</option>
				</select>
				<button class="inupbutton" @click="signup">注册</button>
			</div>

		</div>

		<div :class="overlaytitle">
			<div class="overlaytitle-Signin" v-if="disfiex == 0">
				<h2 class="overlaytitleH2">欢迎注册</h2>
				<p class="overlaytitleP">
					输入您的个人详细信息，与我们一起开始旅程
				</p>
				<div class="buttongohs" @click="Signin">注册</div>
			</div>

			<div class="overlaytitle-Signup" v-if="disfiex == 1">
				<h2 class="overlaytitleH2">欢迎登录</h2>
				<p class="overlaytitleP">要与我们保持联系，请使用您的个人信息登录</p>
				<div class="buttongohs" @click="Signup">登录</div>
			</div>

		</div>

	</div>

</div>

</template>

<script>
import axios from 'axios'
import router from '../../router'
export default {
		data() {
			return {
				overlaylong: 'overlaylong',
				overlaytitle: 'overlaytitle',
				disfiex: 0,
				loginForm: {
					anumber: '',
					password: ''
				},
				registerForm: {
					username: '',
					anumber: '',
					password: '',
					role: 'student'
				}
				
			}
		},
		methods: {
			Signin() {
				this.overlaylong = "overlaylongleft"
				this.overlaytitle = "overlaytitleright"

				setTimeout(() => {
					this.disfiex = 1
				}, 200)
        
			},
			Signup() {
				this.overlaylong = "overlaylongright"
				this.overlaytitle = "overlaytitleleft"
 
				setTimeout(() => {
					this.disfiex = 0
				}, 200)
 
			},
			switchToSignin() {
				this.disfiex = 0;
			},
			singin() {
				//改变按钮颜色
				const button = document.querySelector('.inupbutton');
				button.style.backgroundColor = 'teal';
				setTimeout(() => {
					button.style.backgroundColor = '#29eac4'; // 恢复到原始的背景颜色
				}, 100); // 1/10秒后执行
				if (this.loginForm.anumber != '' && this.loginForm.password != '') {
					axios.post('/api/login', {
						anumber: this.loginForm.anumber,
						password: this.loginForm.password
					}).then(result => {
					console.log('Login successful:', result.data);
					// 保存用户名和密码到全局属性
					// this.$user.username = result.data.data;
					// this.$user.password = this.loginForm.password;
					this.$store.commit('setUsername', result.data.data);
					this.$user.username = result.data.data;
					this.$user.identity = result.data.msg;
					localStorage.setItem('username', result.data.data);
					localStorage.setItem('identity',result.data.msg);
					console.log(localStorage.getItem('username')); // 输出检查是否正确设置

					// 在这里处理登录成功后的操作，比如保存token，跳转页面等
						if(result.data.msg == '0'){//0:管理员1:教师2:学生
							router.push('/admin');
						}else if(result.data.msg == '1'){
							router.push('/teacher');
						}else if(result.data.msg == '2'){
							router.push('/student');
						}else if(result.data.msg == '-1'){
							this.open4("请先注册");
							this.Signin();//切换注册页面
						}
						
					}).catch(error => {
						console.error('Error during login:', error);
						this.open4(error);
					});
					
				} else {
					this.open4("用户名或密码为空");
				}
			},
			signup() {
				//改变按钮颜色
				const button = document.querySelector('.inupbutton');
				button.style.backgroundColor = 'teal';
				setTimeout(() => {
					button.style.backgroundColor = '#29eac4'; // 恢复到原始的背景颜色
				}, 100); // 1/10秒后执行
				if(this.registerForm.username != '' && this.registerForm.anumber && this.registerForm.password != ''){
					axios.post('/api/register', {
						username: this.registerForm.username,
						anumber: this.registerForm.anumber,
						password: this.registerForm.password,
						identity: this.registerForm.role == 'student' ? '2' : '1' 
					}).then(result => {
						console.log('Registration successful:', result.data);
						// 在这里处理注册成功后的操作，比如显示提示信息，自动切换到登录页面等
						// this.switchToSignin();//不够Signup切换丝滑
						this.loginForm.anumber = this.registerForm.anumber;
						this.loginForm.password = this.registerForm.password;
						this.registerForm.username = '';
						this.registerForm.anumber = '';
						this.registerForm.password = '';
						this.Signup();
						this.open1("注册成功");

					}).catch(error => {
						this.open4("用户名或账号不允许重复");
						console.error('Error during registration:', error);
					});
				}else{
					this.open4("用户名或密码为空");
				}
			},
			//消息弹框
			open1(msg) {
				this.$notify({
				title: '成功',
				message: msg,
				type: 'success'
				});
			},
			open4(msg) {
				this.$notify.error({
				title: '错误',
				message: msg
				});
			},
		}
	}

</script>

<style>
	
  .custom-select {
    margin-top: 12px;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #eeeeee;
    /* border-radius: 4px; */
    width: 270px;
    height: 45px;
    color: #757575;
    background: #eeeeee;
  }
  .center {
		/* width: 1920px;
		height: 1080px; */
		width: 100%;
		height: 1080px;
		/* 'https://gd-hbimg.huaban.com/9165dc3c0f8279ae5402d1f47212847bff68b49f3cb547-QEli8R' */
		background-image: url("../../assets/img/loginImage.jpg");
		background-size: 100% 100%;
		background-repeat: no-repeat;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
 
	h1 {
		font-size: 30px;
		color: black;
	}
 
	.logon {
		background-color: #fff;
		border-radius: 10px;
		box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
		/* position: relative;
		overflow: hidden; */
		width: 768px;
		max-width: 100%;
		min-height: 480px;
		margin-top: 20px;
		display: flex;
		background: -webkit-linear-gradient(right, #4284db, #29eac4);
	}
 
	.overlaylong {
		border-radius: 10px 0 0 10px;
		width: 50%;
		height: 100%;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
	}
 
	.overlaylongleft {
		border-radius: 0px 10px 10px 0px;
		width: 50%;
		height: 100%;
		background-color: #fff;
		transform: translateX(100%);
		transition: transform 0.6s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
	}
 
	.overlaylongright {
		border-radius: 10px 0 0 10px;
		width: 50%;
		height: 100%;
		background-color: #fff;
		transform: translateX(0%);
		transition: transform 0.6s ease-in-out;
		display: flex;
		align-items: center;
		justify-content: center;
	}
 
	.overlaytitle {
		border-radius: 0px 10px 10px 0px;
		width: 50%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0);
		display: flex;
		align-items: center;
		justify-content: center;
	}
 
 
	.overlaytitleH2 {
		font-size: 30px;
		color: #fff;
		margin-top: 20px;
	}
 
	.overlaytitleP {
		font-size: 15px;
		color: #fff;
		margin-top: 20px;
	}
 
	.overlaytitleleft {
		border-radius: 0px 10px 10px 0px;
		width: 50%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0);
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateX(0%);
		transition: transform 0.6s ease-in-out;
	}
 
	.overlaytitleright {
		border-radius: 0px 10px 10px 0px;
		width: 50%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0);
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateX(-100%);
		transition: transform 0.6s ease-in-out;
	}
 
	.overlaytitle-Signin {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
 
	.overlaytitle-Signup {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
 
	.buttongohs {
		width: 180px;
		height: 40px;
		border-radius: 50px;
		border: 1px solid #fff;
		color: #fff;
		font-size: 15px;
		text-align: center;
		line-height: 40px;
		margin-top: 40px;
		cursor: pointer; /* 鼠标悬停在按钮上时，将鼠标样式改为手指指针 */
	}
 
	.overlaylongH2 {
		font-size: 25px;
		color: black;
		/* width: 250px; */
	}
 
	.overlaylong-Signin {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
 
	.overlaylong-Signup {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
	}
 
	input {
		background-color: #eee;
		border: none;
		padding: 12px 15px;
		margin: 10px 0;
		width: 240px;
	}
	h3{
		font-size: 10px;
		margin-top: 10px;
		cursor: pointer;
	}
	.inupbutton{
		background-color: #29eac4;
		border: none;
		width: 180px;
		height: 40px;
		border-radius: 50px;
		font-size: 15px;
		color: #fff;	
		text-align: center;
		line-height: 40px;
		margin-top: 30px;
		cursor: pointer; /* 鼠标悬停在按钮上时，将鼠标样式改为手指指针 */
	}

</style>
