<template>
     <div class="form-container">
        <!-- 表单 -->
      <el-form :model="form" label-width="80px">
        <el-form-item label="性别">
          <el-select v-model="form.gender" placeholder="请选择性别">
            <el-option label="男" :value="'1'"></el-option>
            <el-option label="女" :value="'0'"></el-option>
          </el-select>
        </el-form-item>
  
        <el-form-item label="年龄">
          <el-input v-model="form.age" placeholder="请输入年龄"></el-input>
        </el-form-item>
  
        <el-form-item label="所在专业">
          <el-select v-model="form.major" placeholder="请选择所在专业">
            <el-option
              v-for="department in departments"
              :key="department.id"
              :label="department.name"
              :value="department.id"><!--:label下拉列表展示值 = major :value下拉列表实际值 -->
            </el-option>
          </el-select>
        </el-form-item>
  
        <el-form-item>
          <el-button type="primary" @click="submitForm">提交</el-button>
        </el-form-item>
      </el-form>
     </div>
</template>
  
<script>
import axios from 'axios';
  export default {
    data() {
      return {
        form: {
          gender: '', // 使用字符串类型
          age: '',
          major: ''
        },
        departments: [{
                id:'',
                name:''
            }], // 新增: 用于存储从后端获取的院系数据
      }
    },
    methods: {
      submitForm() {
        // this.open1(this.form.major);
        axios.put('/api/student/form',{
          name: this.$user.username,
          gender:this.form.gender,
          age:this.form.age,
          major:String(this.form.major)
        }).then((result) =>{
          this.open1(result.data.msg);
          this.$router.push('/student/p1');
        }).catch((error) =>{
          this.open4(error)
        })
      },
      //消息弹框
      open1(msg) {
          this.$notify({
          title: '成功',
          message: msg,
          type: 'success'
          });
      },
      open4(msg) {
          this.$notify.error({
          title: '错误',
          message: msg
          });
      },
    },
    mounted(){
        //从后端中回显专业名称
        axios.get("/api/admin/p2/sp"
        ).then((result) =>{
            this.departments = result.data.data;
        }).catch((error) =>{
            console.log(error);
            this.open4(error);
        })
    }
  }
  </script>
  
  <style>
    .form-container {
        max-width: 300px;
        margin: 60px auto;
    }
  </style>
  