<template>

  <div >
    <el-table
          :data="tableData"
          style="width: 100%"
          default-expand-all>
          <el-table-column type="expand">
          <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
              <el-form-item label="学生姓名">
                  <span>{{ props.row.name }}</span>
              </el-form-item>
              <el-form-item label="专业">
                  <span>{{ props.row.major }}</span>
              </el-form-item>
              <el-form-item label="学生 ID">
                  <span>{{ props.row.id }}</span>
              </el-form-item>
              <!-- <el-form-item label="选择的课题">
                  <span>{{ props.row.shopId }}</span>
              </el-form-item> -->
              <el-form-item label="学生性别">
                  <span>{{ props.row.gender == "0" ? "女" : "男"}}</span>
              </el-form-item>
              <el-form-item label="学生年龄">
                  <span>{{ props.row.age }}</span>
              </el-form-item>
              <!-- <el-form-item label="课题结果">
                  <span>{{ props.row.desc }}</span>
              </el-form-item> -->
              </el-form>
          </template>
          </el-table-column>
  
          <el-table-column
          label="学生 ID"
          prop="id">
          </el-table-column>
          <el-table-column
          label="学生姓名"
          prop="name">
          </el-table-column>
          <el-table-column
          label="所在专业"
          prop="major">
          </el-table-column>
      </el-table>
  </div>

</template>

<script>
import axios from 'axios'
export default {
    data() {
      return {
        tableData: [{
          id: '',
          name: '',
          gender: '0',
          age: '',
          major: '',
        //   shopId: '10333'
        }]
      }
    },
    mounted() {
        axios.get("/api/student/p1", {
            params: {
                name: this.$user.username
            }
        }).then((result) => {
            // alert(result.data.code);
            // this.tableData[0].id = result.data.data[0].id;
            // this.tableData[0].age = result.data.data[0].age;
            // this.tableData[0].name = result.data.data[0].name;
            // this.tableData[0].gender = result.data.data[0].gender;
            // this.tableData[0].result = result.data.data[0].result;
            console.log("data!", result.data.data);
            this.tableData = result.data.data;
        }).catch((error) => {
            console.error("There was an error!", error);
        });
    }
  }
</script>

<style>
    .demo-table-expand {
          font-size: 0;
      }
      .demo-table-expand label {
          width: 90px;
          color: #99a9bf;
      }
      .demo-table-expand .el-form-item {
          margin-right: 0;
          margin-bottom: 0;
          width: 50%;
      }
</style>