<template>
    <div>
      <el-table
          :data="tableData"
          style="width: 100%"
          default-expand-all>
          <el-table-column type="expand">
          <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
              <el-form-item label="老师姓名">
                  <span>{{ props.row.name }}</span>
              </el-form-item>
              <!-- <el-form-item label="老师姓名">
                  <span>{{ props.row.shop }}</span>
              </el-form-item> -->
              <el-form-item label="老师 ID">
                  <span>{{ props.row.id }}</span>
              </el-form-item>
              <el-form-item label="课题名字">
                  <span>{{ props.row.topicName }}</span>
              </el-form-item>
              <el-form-item label="老师性别">
                  <span>{{ props.row.gender == "0" ? "女" : "男" }}</span>
              </el-form-item>
              <el-form-item label="老师年龄">
                  <span>{{ props.row.age }}</span>
              </el-form-item>
              <el-form-item label="课题结果">
                  <span>{{ props.row.state}}</span>
              </el-form-item>
              </el-form>
          </template>
          </el-table-column>
          <el-table-column
          label="课题名字"
          prop="topicName">
          </el-table-column>
          <el-table-column
          label="老师姓名"
          prop="name">
          </el-table-column>
          <el-table-column
          label="课题结果"
          prop="state">
          </el-table-column>
      </el-table>
    </div>
  </template>
  
  <script>
  import axios from 'axios'
  export default {
      data() {
        return {
          tableData: [{
            id: '',
            name: '',
            gender: '',
            state: '',
            age: '',
            topicName: ''
          }]
        }
      },
      mounted() {
        axios.get("/api/student/p2", {
            params: {
                name: this.$user.username
            }
        }).then((result) => {
            // alert(result.data.code);
            // this.tableData[0].id = result.data.data[0].id;
            // this.tableData[0].age = result.data.data[0].age;
            // this.tableData[0].name = result.data.data[0].name;
            // this.tableData[0].gender = result.data.data[0].gender;
            // this.tableData[0].result = result.data.data[0].result;
            this.tableData = result.data.data;
            if (result.data.data === null) { 
                this.open("您未选择课设请先选择课设","提示");
            }
        }).catch((error) => {
            console.error("There was an error!", error);
        });
      },methods:{
        open(body,header) {
            this.$alert(body, header, {
            confirmButtonText: '确定',
            callback: action => {
                this.$message({
                type: 'info',
                message: `action: ${ action }`
                });
            }
            });
        }
      }
    }
  </script>
  
  <style>
      .demo-table-expand {
          font-size: 0;
      }
      .demo-table-expand label {
          width: 90px;
          color: #99a9bf;
      }
      .demo-table-expand .el-form-item {
          margin-right: 0;
          margin-bottom: 0;
          width: 50%;
      }
  </style>