<template>
  <div>
    <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column
        label="老师姓名"
        width="180">
        <template slot-scope="scope">
            <i class="el-icon-s-custom"></i>
            <span style="margin-left: 10px">{{ scope.row.name }}</span>
        </template>
        </el-table-column>

        <el-table-column
        label="题目"
        width="180">
        <template slot-scope="scope">
            <el-popover trigger="hover" placement="top">
            <p>题目详细信息: {{ scope.row.topicInfo }}</p>
            <p>难度: {{ scope.row.difficulty == '0' ? '易' : scope.row.difficulty == '1' ? '中' : '难'}}</p>
            <div slot="reference" class="name-wrapper">
                <el-tag size="medium">{{ scope.row.topicName }}</el-tag>
            </div>
            </el-popover>
        </template>
        </el-table-column>

        <el-table-column label="操作">
        <template slot-scope="scope">
            <el-button 
            size="mini"
            @click="handleEdit(scope.$index, scope.row)"
            :type="isEnabled ? 'primary' : ''" :disabled="!isEnabled">
                选择该课题
            </el-button>            
        </template>
        </el-table-column>
    </el-table>
    <!-- 主要按钮，根据 isEnabled 判断是否禁用 -->
    <!-- <el-button :type="isEnabled ? 'primary' : ''" :disabled="!isEnabled">主要按钮</el-button>
    <el-button type="success" :disabled="!isEnabled">成功按钮</el-button>
    <el-button type="warning" :disabled="!isEnabled">警告按钮</el-button>
    <el-button type="danger" :disabled="!isEnabled">危险按钮</el-button>
    <el-button type="info" :disabled="!isEnabled">信息按钮</el-button> -->
    
    <!-- 切换按钮状态 -->
    <!-- <el-button @click="toggleEnabled">切换按钮状态</el-button> -->
  </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
      return {
        tableData: [{
          name: '张三',
          topicName: '计算机',
          difficulty: '0',
          topicInfo:''
        }],
        isEnabled: true,  // 控制按钮是否可点击的布尔变量
        flag: false,
      }
    },
    methods: {
      handleEdit(index, row) {
        console.log(index, row.name);
        this.isEnabled = false;
        axios.put("/api/student/p3", {
          name: this.$user.username,
          topicName: row.topicName
        }).then((result) => {
          this.open1("选择成功");
            console.log(result.data.msg);
        }).catch((error) => {
            console.error("There was an error!", error);
        });
      },
      toggleEnabled() {
        this.isEnabled = !this.isEnabled;  // 切换按钮状态
      },
      //消息弹框
      open1(msg) {
          this.$notify({
          title: '成功',
          message: msg,
          type: 'success'
          });
      },
      open4(msg) {
          this.$notify.error({
          title: '错误',
          message: msg
          });
      },
      open(body,header) {
        this.$alert(body, header, {
          confirmButtonText: '确定',
          callback: action => {
            this.$message({
              type: 'info',
              message: `action: ${ action }`
            });
          }
        });
      }

    },
    mounted() {
      axios.get("/api/student/p3", {//查询学生name所选择的题目
          params: {
            name: this.$user.username
          }
      }).then((result) => {
          this.tableData = result.data.data;
          if (result.data.msg == "success已选择") {
            this.open("你已经选择了课设","提示");
              this.isEnabled = false;
          }
      }).catch((error) => {
          console.error("There was an error!", error);
      });
    }
}
</script>

<style>

</style>