<template>
    
    <div class="body">
        <div class="not_found">
            <h1>404</h1>
            <p class="text">
                页面将在<span>{{ time }}</span>秒后自动跳转首页，<br>
                您也可以点击这里跳转<a href="/">首页</a>
            </p>
        </div>
    </div>
    
</template>

<script>
// 这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）

export default {
    
    components: {

    },
    // 定义属性
    data() {
        return {
            time: '10',
            time_end: null
        }
    },
    // 计算属性，会监听依赖属性值随之变化
    computed: {},
    // 监控data中的数据变化
    watch: {},
    // 方法集合
    methods: {
        GoIndex() {
            let _t = 9
            this.time_end = setInterval(() => {
                if (_t !== 0) {
                    this.time = _t--;
                } else {
                    this.$router.push('/')
                    clearTimeout(this.time_end)//消除定时器
                    this.time_end = null
                }
            }, 1000)
        }
    },
    // 生命周期 - 创建完成（可以访问当前this实例）
    created() {
        this.GoIndex()
    },
    // 生命周期 - 挂载完成（可以访问DOM元素）
    mounted() {

    },
    beforeCreate() { }, // 生命周期 - 创建之前
    beforeMount() { }, // 生命周期 - 挂载之前
    beforeUpdate() { }, // 生命周期 - 更新之前
    updated() { }, // 生命周期 - 更新之后
    beforeDestroy() { }, // 生命周期 - 销毁之前
    destroyed() {
        clearTimeout(this.time_end)
        this.time_end = null
    }, // 生命周期 - 销毁完成
    activated() { }, // 如果页面有keep-alive缓存功能，这个函数会触发
}
</script>

<style>
    .body{
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 710px; /* 让父元素占据整个视口高度 */
        background-image: url(../../assets/img/1.png);
        background-size:100% 100%;
        background-repeat:no-repeat;
    }
    .not_found {
        height: 710px;
    }

    .text {
        /* text-align: center; 将文本内容居中 */
        text-align: center; 
        color: hsl(240, 74%, 7%);
        text-shadow: 2px 2px 5px red;
        font-size: 20px;
        height: 710px;
        line-height: 100%;
    }
    h1{
        text-align: center; 
        text-shadow: 2px 2px 5px red;
        font-size: 100px;
    }
</style>
