<template>
    <div id="app">
      <el-container>
        <el-header>
          <div class="headerClass">
            <el-avatar> {{this.$user.username.charAt(0)}} </el-avatar>
          </div>
          管理员页面
            <div id="Iheader">
              <el-dropdown @command="handleCommand">
                <span class="el-dropdown-link">
                  是否退出登录<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item command="yes">是</el-dropdown-item>
                  <el-dropdown-item command="no">否</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </div>  
        </el-header>
        <el-container>
          <transition name="slide">
            <el-aside width="200px">
              <el-menu
                :default-openeds="['1', '2']"
                :default-active="defaultActive"
                class="el-menu-vertical-demo"
                background-color="#545c64"
                text-color="#fff"
                active-text-color="#ffd04b"
              >
              <router-link to="/admin/p1" style="text-decoration: none;color: hsl(0, 33%, 97%);">
                <!-- 展示所有老师信息 -->
                <el-menu-item index="1">
                  <i class="el-icon-menu"></i>
                  <span>老师信息</span>
                </el-menu-item>
              </router-link>
              
              <router-link to="/admin/p2" style="text-decoration: none;color: hsl(0, 33%, 97%);">
                <!-- 展示所有学生信息 -->
                <el-menu-item index="2">
                  <i class="el-icon-setting"></i>
                  <span>学生信息</span>
                </el-menu-item>
              </router-link>
                
              <router-link to="/admin/p3" style="text-decoration: none;color: hsl(0, 33%, 97%);">
                <!-- 学院信息 -->
                <el-menu-item index="3">
                  <i class="el-icon-setting"></i>
                  <span>学院信息</span>
                </el-menu-item>
              </router-link>
                
               <!-- 专业信息 -->
              <router-link to="/admin/p4" style="text-decoration: none;color: hsl(0, 33%, 97%);">
                <el-menu-item index="4">
                  <i class="el-icon-setting"></i>
                  <span>专业信息</span>
                </el-menu-item>
              </router-link>
              
              <!-- 导出功能 -->
              <router-link to="/admin/p5" style="text-decoration: none;color: hsl(0, 33%, 97%);">
                <el-menu-item index="5">
                  <i class="el-icon-download"></i>
                  <span>导出学生毕设结果</span>
                </el-menu-item>
              </router-link>
                

              </el-menu>
            </el-aside>
          </transition>
          <el-main>
            
            <router-view></router-view>
          </el-main>
        </el-container>
        </el-container>
    </div>
  </template>
  
  <script>
  export default {
    // name: 'App',
    data() {
      return {
        defaultActive:'',
      };
    },
    methods: {
      setCurrentActive() {
          // 根据当前路由设置defaultActive的值
          switch(this.$route.path) {
              case '/admin/p1':
                  this.defaultActive = "1";
                  break;
              case '/admin/p2':
                  this.defaultActive = "2";
                  break;
              case '/admin/p3':
                  this.defaultActive = "3";
                  break;
              case '/admin/p4':
                  this.defaultActive = "4";
                  break;
              case '/admin/p5':
                  this.defaultActive = "5";
                  break;
              default:
                  this.defaultActive = "1"; // 默认为1
          }
      },
      handleCommand(command) {
        console.log('Selected command:', command);
        if (command === 'yes') {
          // 处理选择 "是" 的逻辑
          this.$router.push('/login');
        } else if (command === 'no') {
          // 处理选择 "否" 的逻辑
          console.log('选择了否');
          console.log("name",this.$user.username);
        }
      }
    },
    mounted() {//组件的mounted生命周期钩子中调用该方法
        this.setCurrentActive(); // 在组件挂载后调用该方法
    }
  };
  </script>
  
  <style>
  body,
  html,
  #app1 {
    margin: 0;
    height: 100%;
  }
  #Iheader {
    float: right;
    display: flex;
    align-items: center;
    margin-top: 20px;
    cursor: pointer; /* 鼠标悬停在按钮上时，将鼠标样式改为手指指针 */
  }
  .headerClass{
    float: left;
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer; /* 鼠标悬停在按钮上时，将鼠标样式改为手指指针 */
  }
  .el-header {
      font-size: 40px;
      /* background-color: hsl(215, 10%, 77%); */
      background: linear-gradient(to right,  hwb(0 22% 78%),hsl(215, 10%, 77%), hwb(0 22% 78%));
      /* background-image: url("../../assets/img/header.gif"); */
      text-align: center;
      height: 60px;
      
      color: rgb(230, 228, 228);
      text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .el-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* 可选，根据需要调整层叠顺序 */
  }
  .el-menu-vertical-demo {
    min-height: 100vh;
    width: 200px;
    position: fixed;
    left: 0;
    top:60px
  }
  .el-main{
    margin-top: 60px;
  }
  </style>
  