<template>
    <div>
        <!-- 添加专业 -->
        <el-button type="primary" @click="openDialog">
            <i class="el-icon-plus"></i>
            添加专业
        </el-button>

      <div class="input">
          <!-- 查询输入框 -->
          <el-input
              v-model="search"
              placeholder="输入专业名进行查询"
              style="margin-bottom: 20px; width: 300px;"
              clearable>
          </el-input>
      </div>
  
  
      <!-- 表格 -->
      <!-- <el-table :data="tableData" border>
          <el-table-column prop="id" label="老师 ID" width="140"></el-table-column>
          <el-table-column prop="name" label="姓名" width="180"></el-table-column>
          <el-table-column  label="性别" width="140">
              <template slot-scope="scope">
                  {{ scope.row.gender == 1 ? '男' : '女' }}
              </template>
          </el-table-column>
          <el-table-column prop="age" label="年龄" width="100"></el-table-column>
          <el-table-column prop="major" label="所在院系" width="140"></el-table-column>
          <el-table-column label="操作" slot-scope="scope">
              <el-button type="primary" size="mini"  @click="handleEdit(scope.row)">编辑</el-button>
              <el-button type="danger" size="mini" @click="handleDelete(scope.$index)">删除</el-button>
          </el-table-column>
      </el-table> -->
  
      <!-- 表格 -->
      <el-table :data="filteredTableData" border>
        <el-table-column prop="id" label="专业 ID" width="140"></el-table-column>
        <el-table-column prop="name" label="专业名" width="180"></el-table-column>
        <el-table-column prop="major" label="所属院系" width="180"></el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button type="primary" size="mini" @click="handleEdit(scope.row)">编辑</el-button>
            <el-button type="danger" size="mini" @click="handleDelete(scope.$index,scope.row.id)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
  
      <!-- 编辑对话框 -->
      <el-dialog title="编辑老师信息" :visible.sync="dialogVisible" width="30%">
        <el-form :model="form" label-width="80px">
          <el-form-item label="专业名">
            <el-input v-model="form.name"></el-input>
          </el-form-item>
          <el-form-item label="所属院系">
          <el-select v-model="form.major" placeholder="请选择所属院系">
            <el-option
              v-for="department in departments"
              :key="department.id"
              :label="department.name"
              :value="department.id">
            </el-option>
          </el-select>
        </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取消</el-button>
          <el-button type="primary" @click="submitForm">确定</el-button>
        </span>
      </el-dialog>

      <!-- 编辑对话框 -->
      <el-dialog title="添加专业" :visible.sync="addSp" width="30%">
        <el-form :model="formSp" label-width="80px">
          <el-form-item label="专业名">
            <el-input v-model="formSp.name"></el-input>
          </el-form-item>
          <el-form-item label="所属院系">
          <el-select v-model="formSp.major" placeholder="请选择所属院系">
            <el-option
              v-for="department in departments"
              :key="department.id"
              :label="department.name"
              :value="department.id">
            </el-option>
          </el-select>
        </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="addSp = false">取消</el-button>
          <el-button type="primary" @click="submitFormSp">添加</el-button>
        </span>
      </el-dialog>

    </div>
  </template>
  
  <script>
  import axios from 'axios';
  export default {
      data(){
          return{
              search: '',
              dialogVisible: false,
              addSp:false,
              form: {
                  id: '',
                  name: '',
                  major: ''
              },
              formSp:{
                name: '',
                major: ''
              },
              tableData:[{
                  id: '',
                  name: '',
                  major:''
              }],
            departments: [{
                    id:'',
                    name:''
                }] // 新增: 用于存储从后端获取的院系数据
          }
      },
      /**在 Vue.js 中，计算属性（computed properties）会根据它们的依赖自动重新计算。这意味着，
       * 当依赖的数据（例如 this.search 或 this.tableData）发生变化时，
       * 计算属性会重新计算其值。使用计算属性可以让模板中逻辑更清晰，代码更简洁。 */
      computed: {
          filteredTableData() {//filteredTableData 是一个计算属性，它根据用户在搜索框中输入的内容来过滤 tableData，返回符合条件的数据，以便在表格中展示。
              /**
               *  1.this.tableData.filter： 遍历 tableData 数组中的每一项，返回一个新的数组，包含所有符合条件的项。
                  2.!this.search： 如果 this.search 为空字符串或 null，条件 !this.search 会返回 true，因此所有项都符合条件。
                  这意味着当搜索框为空时，显示所有数据。
                  3.data.name.toLowerCase().includes(this.search.toLowerCase())： 
                  如果 this.search 非空，检查每一项的 name 属性（转为小写）是否包含搜索字符串（也转为小写）。
                  这样可以进行不区分大小写的部分匹配。 */
              return this.tableData.filter(data => {
                  return !this.search || data.name.toLowerCase().includes(this.search.toLowerCase());
              });
          }
      },
      methods:{
          openDialog(){
            //清空表单
            this.formSp.name = '';
            this.formSp.major = '';
            //显示表单
            this.addSp = true;
            //从后端中回显院系名称
            axios.get("/api/admin/p1/D"
            ).then((result) =>{
                this.departments = result.data.data;
            }).catch((error) =>{
                console.log(error);
                this.open4(error);
            })
          },
          handleEdit(row) {
            //   this.form = { ...row };//它的作用是将传入的 row 对象的所有属性拷贝到 this.form 对象中。
            this.form.id = row.id;
            this.form.name = row.name;
            this.form.major = '';
              console.log(this.form);
              this.dialogVisible = true;
                //从后端中回显院系名称
                axios.get("/api/admin/p1/D"
                ).then((result) =>{
                    this.departments = result.data.data;
                }).catch((error) =>{
                    console.log(error);
                    this.open4(error);
                })
          },
          handleDelete(index,id) {
              // this.tableData.splice(index, 1);
              console.log(index);
              console.log(id);
              //根据id删除
              axios.delete("/api/admin/p4",{
                  params:{
                      id:id
                  }
              }).then((result) =>{
                  this.open1(result.data.msg);
                  this.getData();
              }).catch((error) =>{
                console.log(error);
                  this.open4("有关联该专业的");
              })
          },
          submitForm() {
              //修改信息
              this.dialogVisible = false;
              //提交对话框地内容给后端进行修改专业信息
              axios.put("/api/admin/p4",{
                  id : this.form.id,
                  name:this.form.name,
                  major:this.form.major
              }).then((result) =>{
                  this.open1(result.data.msg);
                  this.getData();
              }).catch((error) =>{
                console.log(error);
                  this.open4("操作失败");
              });
          },
          submitFormSp(){
            //关闭表单
            this.addSp = false;
            axios.post("/api/admin/p4",{
                name:this.formSp.name,
                major:this.formSp.major
            }).then((result) =>{
                this.getData();
                this.open1(result.data.msg);
            }).catch((error) =>{
                console.log(error);
                this.open4("操作失败");
            })
          },
          //消息弹框
          open1(msg) {
              this.$notify({
              title: '成功',
              message: msg,
              type: 'success'
              });
          },
          open4(msg) {
              this.$notify.error({
              title: '错误',
              message: msg
              });
          },
          getData(){
            axios.get("/api/admin/p2/sp"
            ).then((result) =>{
                this.tableData = result.data.data;
                console.log(result.data.msg);
            }).catch((error) =>{
                console.log("GET/admin/p1/teacher",error);
            })
          }
      },
      mounted(){
          //发送异步请求,获取数据
          // axios.get("https://mock.apifox.cn/m1/3128855-0-default/emp/list").then((result)=>{
          //     this.tableData = result.data.data;
          // });
          axios.get("/api/admin/p2/sp"
          ).then((result) =>{
             this.tableData = result.data.data;
              console.log(result.data.msg);
          }).catch((error) =>{
              console.log("GET/admin/p1/teacher",error);
          })
      }
  }
  </script>
  
  <style>
      .dialog-footer {
          text-align: right;
      }
  
      .input{
          margin-left: 995px;
        }
  </style>