<template>
    <div>
        
        <div class="input">
            <!-- 查询输入框 -->
            <el-button type="primary" @click="downloadData" style="margin-bottom: 10px">
                下载数据
            </el-button>
        </div>

      <el-table
          :data="tableData"
          style="width: 100%">
          <el-table-column
          label="课题名称"
          width="180">
          <template slot-scope="scope">
              <i class="el-icon-time"></i>
              <span style="margin-left: 10px">{{ scope.row.topicName }}</span>
          </template>
          </el-table-column>

          <el-table-column
          label="老师姓名"
          width="180">
          <template slot-scope="scope">
              <i class="el-icon-user"></i>
              <span style="margin-left: 10px">{{ scope.row.teacherName }}</span>
          </template>
          </el-table-column>
  
          <el-table-column
          label="学生姓名"
          width="180">
          <template slot-scope="scope">
              <el-popover trigger="hover" placement="top">
              <p>学生姓名: {{ scope.row.name }}</p>
              <p>是否通过: {{ scope.row.state == '0' ? "未评分" : scope.row.state == '1' ? "通过" : "未通过"}}</p>
              <div slot="reference" class="name-wrapper">
                  <el-tag size="medium">{{ scope.row.name }}</el-tag>
              </div>
              </el-popover>
          </template>
          </el-table-column>
          
          <el-table-column label="评分">
              <template slot-scope="scope">
                  <el-select v-model="scope.row.state" placeholder="请选择">
                  <el-option label="未评分" value="0"></el-option>
                  <el-option label="通过" value="1"></el-option>
                  <el-option label="未通过" value="2"></el-option>
                  </el-select>
              </template>
          </el-table-column>
  
          <el-table-column label="操作">
          <template slot-scope="scope">
              <el-button
              size="mini"
              @click="handleEdit(scope.$index, scope.row)">提交</el-button>
          </template>
          </el-table-column>
  
      </el-table>
    </div>
  </template>
  
  <script>
  import axios from 'axios'
  export default {
      data() {
        return {
          tableData: [{
            id : '',//题目id
            topicName: '计算机',
            name: '王小虎',
            teacherName: '王老师',
            state: ''//1:通过2:未通过0:未评分
          }]
        }
      },
      methods: {
        handleEdit(index, row) {
              console.log(index, row);
              axios.put("/api/admin/p5",{
                    name:row.name,
                    state:row.state
              }).then((result) => {
                  this.open1(result.data.msg);
                  
              }).catch((error) => {
                  this.open4(error);
              })
          },
          //消息弹框
          open1(msg) {
              this.$notify({
              title: '成功',
              message: msg,
              type: 'success'
              });
          },
          open4(msg) {
              this.$notify.error({
              title: '错误',
              message: msg
              });
          },
          downloadData() {
            this.open1("正在申请下载数据");
            axios({
                url: '/api/exportExcel',
                method: 'GET',
                responseType: 'blob' // 设置响应类型为 blob
            }).then((response) => {
                // 从响应头中获取文件名
                const contentDisposition = response.headers['content-disposition'];
                let fileName = 'data.xlsx'; // 默认文件名
                if (contentDisposition) {
                    // 处理 filename 和 filename* 两种情况
                    const fileNameMatch = contentDisposition.match(/filename\*?=([^;]+)/);
                    console.log("fileNameMatch",fileNameMatch);
                    console.log("fileNameMatch[1]",fileNameMatch[1]);
                    var temp = decodeURIComponent(fileNameMatch[1]);
                    
                    if (fileNameMatch && fileNameMatch[1]) {
                        fileName = decodeURIComponent(fileNameMatch[1].replace(/UTF-8''/, '').replace(/['"]/g, ''));
                    }
                    console.log("temp",temp);
                    console.log("fileName",fileName);
                }

                // 创建一个 Blob 对象，表示从服务器接收到的数据
                const blob = new Blob([response.data], { type: 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' });
                const url = window.URL.createObjectURL(blob);
                const link = document.createElement('a');
                link.href = url;
                link.setAttribute('download', fileName); // 使用从后端获取的文件名
                document.body.appendChild(link);
                link.click();
                document.body.removeChild(link); // 移除临时链接
                this.open1('下载成功');
            }).catch((error) => {
                this.open4(error);
            });
           },
           getData(){
                axios.get("/api/admin/p5"
                ).then((result) => {
                    this.tableData = result.data.data;
                }).catch((error) => {
                    console.error("There was an error!", error);
                    this.open4(error);
                });
           }
        },
        mounted() {
            axios.get("/api/admin/p5"
            ).then((result) => {
                this.tableData = result.data.data;
            }).catch((error) => {
                console.error("There was an error!", error);
                this.open4(error);
            });
        }
  }
  </script>
  
  <style>
    .input{
        margin-left: 1200px;
    }
  </style>