<template>
  <div class="main">
    <h1>empty</h1>
  </div>
</template>

<script>
export default {

}
</script>

<style>
    h1{
        font-size: 178px;
        text-align: center;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5),
                    4px 4px 8px rgba(0, 0, 0, 0.3),
                    6px 6px 12px rgba(0, 0, 0, 0.2);
    }
    .main{
        background-image: url("../../../assets/img/emptyImage.jpg");
        background-size: cover; /* 确保图片覆盖整个屏幕 */
        background-position: center; /* 居中对齐图片 */
        background-repeat: no-repeat; /* 防止图片重复 */
        width: 100vw; /* 设置宽度为视口宽度 */
        height: 100vh; /* 设置高度为视口高度 */
        display: flex; /* 使用 flex 布局 */
        justify-content: center; /* 水平居中对齐内容 */
        align-items: center; /* 垂直居中对齐内容 */
    }
</style>