<template>
    <div>
      <el-table
          :data="tableData"
          style="width: 100%"
          default-expand-all>
          <el-table-column type="expand">
          <template slot-scope="props">
              <el-form label-position="left" inline class="demo-table-expand">
              <el-form-item label="老师姓名">
                  <span>{{ props.row.name }}</span>
              </el-form-item>
              <el-form-item label="所在学院">
                  <span>{{ props.row.major }}</span>
              </el-form-item>
              <el-form-item label="老师 ID">
                  <span>{{ props.row.id }}</span>
              </el-form-item>
              <!-- <el-form-item label="选择的课题">
                  <span>{{ props.row.shopId }}</span>
              </el-form-item> -->
              <el-form-item label="老师性别">
                  <span>{{ props.row.gender == "0" ? "女" : "男"}}</span>
              </el-form-item>
              <el-form-item label="老师年龄">
                  <span>{{ props.row.age }}</span>
              </el-form-item>
              <!-- <el-form-item label="课题结果">
                  <span>{{ props.row.desc }}</span>
              </el-form-item> -->
              </el-form>
          </template>
          </el-table-column>
  
          <el-table-column
          label="老师 ID"
          prop="id">
          </el-table-column>
          <el-table-column
          label="老师姓名"
          prop="name">
          </el-table-column>
          <el-table-column
          label="所属学院"
          prop="major">
          </el-table-column>
      </el-table>
    </div>
  </template>
  
  <script>
  import axios from 'axios'
  export default {
      data() {
        return {
          tableData: [{
            id: '',
            name: '',
            gender: '0',
            age: '',
            major: '',
          }]
        }
      },
      mounted() {
          axios.get("/api/teacher/p1", {
              params: {
                name: this.$user.username
              }
          }).then((result) => {
              this.tableData = result.data.data;
          }).catch((error) => {
              console.error("There was an error!", error);
          });
      }
    }
  </script>
  
  <style>
      .demo-table-expand {
          font-size: 0;
      }
      .demo-table-expand label {
          width: 90px;
          color: #99a9bf;
      }
      .demo-table-expand .el-form-item {
          margin-right: 0;
          margin-bottom: 0;
          width: 50%;
      }
  </style>