<template>
  <div>
    <div>
        <!-- 添加课题 -->
        <el-button type="primary" @click="openDialog">
            <i class="el-icon-plus"></i>
            添加课题
        </el-button>

        <el-dialog
            title="题目信息"
            :visible.sync="dialogVisible"
            width="30%">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="题目名字">
                <el-input v-model="form.topicName"></el-input>
                </el-form-item>
                <el-form-item label="难度">
                <el-select v-model="form.difficulty" placeholder="请选择难度">
                    <el-option label="易" value="0"></el-option>
                    <el-option label="中" value="1"></el-option>
                    <el-option label="难" value="2"></el-option>
                </el-select>
                </el-form-item>
                <el-form-item label="题目信息">
                <el-input type="textarea" v-model="form.topicInfo"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="submitForm">发 布</el-button>
            </span>
        </el-dialog>

        <el-dialog
            title="修改题目信息"
            :visible.sync="dialogVisibleEdit"
            width="30%">
            <el-form ref="form" :model="form" label-width="80px">
                <el-form-item label="题目名字">
                <el-input v-model="form.topicName"></el-input>
                </el-form-item>
                <el-form-item label="难度">
                <el-select v-model="form.difficulty" placeholder="请选择难度">
                    <el-option label="易" value="0"></el-option>
                    <el-option label="中" value="1"></el-option>
                    <el-option label="难" value="2"></el-option>
                </el-select>
                </el-form-item>
                <el-form-item label="题目信息">
                <el-input type="textarea" v-model="form.topicInfo"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleEdit = false">取 消</el-button>
                <el-button type="primary" @click="submitFormEdit">修 改</el-button>
            </span>
        </el-dialog>
    </div>

    <!-- 展示已添加的课题 -->
    <el-table
        :data="tableData"
        style="width: 100%">

        <el-table-column
        label="课题名字"
        width="180">
        <template slot-scope="scope">
            <span style="margin-left: 10px">{{ scope.row.topicName }}</span>
        </template>
        </el-table-column>

        <el-table-column
        label="课题难度"
        width="180">
        <template slot-scope="scope">
            <el-popover trigger="hover" placement="top">
            <p>课题名字: {{ scope.row.topicName}}</p>
            <p>课题详细信息: {{ scope.row.topicInfo }}</p>
            <div slot="reference" class="name-wrapper">
                <el-tag size="medium">{{ scope.row.difficulty == "0" ? "易" : scope.row.difficulty == "1" ? "中" : "难"}}</el-tag>
            </div>
            </el-popover>
        </template>
        </el-table-column>

        <el-table-column label="操作">
        <template slot-scope="scope">
            <el-button
            size="mini"
            @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button
            size="mini"
            type="danger"
            @click="handleDelete(scope.$index, scope.row)">删除</el-button>
        </template>
        </el-table-column>

    </el-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
        return {
            tableData: [{
                topicName: '计算机',
                difficulty: '2',
                topicInfo: 'hello'
            }],
            form: {
                name:'',//存储原始题目名字
                topicName: '',
                difficulty: '0',
                topicInfo: ''
            },
            dialogVisible: false,//是否展示表单
            dialogVisibleEdit:false,//题目修改表单展示
        }
    },
    methods: {
        handleEdit(index, row) {
            console.log(index, row);
            this.dialogVisibleEdit = true;//开启题目修改表单
            //回显表单
            this.form.name = row.topicName;//原始题目名字
            this.form.topicName = row.topicName;
            this.form.difficulty = row.difficulty;
            this.form.topicInfo = row.topicInfo;
            
        },
        handleDelete(index, row) {//删除题目
            console.log(index, row);
            axios.delete("/api/teacher/p2",{
                params: {
                    name:row.topicName
                }
            }).then((result) => {
                console.log(result.data.msg);
                this.getData();
                this.open1(result.data.msg);
            }).catch((error) => {
                console.error("There was an error!", error);
                this.open4("有学生选择改题目");
            })
        },
        openDialog() {
            //清空表单
            this.form.topicName = '';
            this.form.difficulty = '';
            this.form.topicInfo = '';
            //显示表单
            this.dialogVisible = true;
        },
        submitForm() {
            console.log(this.form);
            this.dialogVisible = false;
            // 这里可以添加表单提交逻辑，例如发送请求到服务器
            axios.post("/api/teacher/p2",{//添加题目
                name: this.$user.username,
                topicName: this.form.topicName,
                difficulty: this.form.difficulty,
                topicInfo: this.form.topicInfo
            }).then((result) => {
                this.getData();
                this.open1(result.data.msg);
                
            }).catch((error) => {
                console.error("There was an error!", error);
                this.open4("课题名字不允许重复");
            });
        },
        submitFormEdit() {
            console.log(this.form);
            this.dialogVisibleEdit = false;
            // 这里可以修改表单提交逻辑，例如发送请求到服务器
            axios.put("/api/teacher/p2",{//修改数据
                name:this.form.name,//存储原始题目名字
                topicName: this.form.topicName,
                difficulty: this.form.difficulty,
                topicInfo: this.form.topicInfo
            }).then((result) =>{
                this.getData();
                this.open1(result.data.msg);
            }).catch((error) =>{
                console.error("There was an error!", error);
                this.open4("课题名字不允许重复");
            })
        },
        //消息弹框
        open1(msg) {
            this.$notify({
            title: '成功',
            message: msg,
            type: 'success'
            });
        },
        open4(msg) {
            this.$notify.error({
            title: '错误',
            message: msg
            });
        },
        getData(){
            axios.get("/api/teacher/p2", {//查询该老师的所有题目
                params: {
                    name: this.$user.username
                }
            }).then((result) => {
                this.tableData = result.data.data;
                console.log("resultGetBYid", result.data.data);
            }).catch((error) => {
                console.error("There was an error!", error);
                this.open4(error);
            });
        }
    
    },
    mounted() {
      axios.get("/api/teacher/p2", {//查询该老师的所有题目
          params: {
            name: this.$user.username
          }
      }).then((result) => {
          this.tableData = result.data.data;
          console.log("resultGetBYid", result.data.data);
      }).catch((error) => {
          console.error("There was an error!", error);
          this.open4(error);
      });
    }
}
</script>

<style>

</style>