<template>
  <div>
    
    <el-table
        :data="tableData"
        style="width: 100%">
        <el-table-column
        label="课题名称"
        width="180">
        <template slot-scope="scope">
            <i class="el-icon-time"></i>
            <span style="margin-left: 10px">{{ scope.row.topicName }}</span>
        </template>
        </el-table-column>

        <el-table-column
        label="姓名"
        width="180">
        <template slot-scope="scope">
            <el-popover trigger="hover" placement="top">
            <p>学生姓名: {{ scope.row.name }}</p>
            <p>是否通过: {{ scope.row.state == '0' ? "未评分" : scope.row.state == '1' ? "通过" : "未通过"}}</p>
            <div slot="reference" class="name-wrapper">
                <el-tag size="medium">{{ scope.row.name }}</el-tag>
            </div>
            </el-popover>
        </template>
        </el-table-column>
        
        <el-table-column label="评分">
            <template slot-scope="scope">
                <el-select v-model="scope.row.state" placeholder="请选择">
                <el-option label="未评分" value="0"></el-option>
                <el-option label="通过" value="1"></el-option>
                <el-option label="未通过" value="2"></el-option>
                </el-select>
            </template>
        </el-table-column>

        <el-table-column label="操作">
        <template slot-scope="scope">
            <el-button
            size="mini"
            @click="handleEdit(scope.$index, scope.row)">提交</el-button>
        </template>
        </el-table-column>

    </el-table>
  </div>
</template>

<script>
import axios from 'axios'
export default {
    data() {
      return {
        tableData: [{
          topicName: '',
          name: '',
          state: ''//1:通过2:未通过0:未评分
        }]
      }
    },
    methods: {
      handleEdit(index, row) {
            console.log(index, row);
            axios.put("/api/teacher/p3",{
                name:row.name,
                state:row.state
            }).then((result) => {
                this.getDate();
                this.open1(result.data.msg);
            }).catch((error) => {
                this.open4(error);
            })
        },
        //消息弹框
        open1(msg) {
            this.$notify({
            title: '成功',
            message: msg,
            type: 'success'
            });
        },
        open4(msg) {
            this.$notify.error({
            title: '错误',
            message: msg
            });
        },
        getDate(){
            axios.get("/api/teacher/p3", {//查询信息渲染
                params: {
                    name: this.$user.username
                }
            }).then((result) => {
                this.tableData = result.data.data;
                
                // console.log(result);
            }).catch((error) => {
                console.error("There was an error!", error);
                this.open4(error);
            });
        }
      
    },
    mounted() {
      axios.get("/api/teacher/p3", {//查询信息渲染
          params: {
            name: this.$user.username
          }
      }).then((result) => {
          this.tableData = result.data.data;
        
        // console.log(result);
      }).catch((error) => {
          console.error("There was an error!", error);
          this.open4(error);
      });
    }
}
</script>

<style>

</style>